extends ../layout

block content
  .materialize-box
    .material-header
      p Admin panel
    .material-body
        a.btn.btn-default(href='/admin/invite') Invite  
        a.btn.btn-default(href='/admin/applications') Applications
