extends ../layout

block content
  h1 Ideas
  p.lead All ideas created.
  hr
  .row
    for idea in ideas || []
      .col-sm-6
        h2 #{idea.title}
        p #{idea.description}
        p
          a.btn.btn-default(href='/seller/idea/'+idea._id, role='button') View details »