extends ../layout

block content
  h1 Project
  p.lead All projects created.
  hr
  .row
    for project in projects || []
      .col-sm-6
        h2 #{project.title}
        p #{project.description}
        p
          a.btn.btn-default(href='/developer/project/'+project._id, role='button') View details »