extends ../layout

block content
  h1 Estimera
  hr
  .row
    .col-sm-6

        form#estimate_form.form-horizontal(role='form', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)

            .form-group
                div#project_type
                    label(for='project_type') Typ av project:
                    select.form-control.selectpicker(name='project_type', multiple='')
                        option Statisk webbsida
                        option Web app
                        option iOS
                        option Android

            .form-group
                label(for='skills') What skill do they need?:
                select#skills.form-control.selectpicker(name='skills' multiple='')
                    option NodeJS
                    option ASP.NET
                    option ASP.NET Core
                    option IOS Development (Swift)
                    option IOS Development (Objective C)
                    option Android Development

            .form-group
                label(for='byhour_or_new') Nytt eller existerande project:
                select#byhour_or_new.form-control.selectpicker(name='type')
                    option Nytt
                    option Existerande
                    
            .form-group#looking_for_form_group.hide
                label(for='looking_for') Letar efter:
                select#looking_for.form-control.selectpicker(name='looking_for')
                    option Utvecklare
                    option Designer
                    option Båda

            .form-group#hours_form_group.hide
                label(for='hours') Timmar:
                input#hours.form-control(name='hours', type='number')

            .form-group#estimate_price.hide
                label(for='hours') Estimate:
                input#estimate.form-control(name='estimate', type='number')

            .form-group
                label(for='title') Titel:
                input#title.form-control(name='title', required)

            .form-group
                label(for='description') Beskrivning:
                textarea#description.form-control(rows='5' name='description', required)

            .form-group
                label(for='customer') Vem är du?:
                input#customer.form-control(name='customer' required)

            .form-group
                label(for='contact') Telefon or email:
                input#contact.form-control(name='contact' required)

            br
            .form-group
                button.btn.btn-primary(type='submit')
                    | Skapa

          

    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      hr
      div Summa: 
        span#sum_estimate 0
        span  kr
